@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins-variable);
  --font-comfortaa: var(--font-comfortaa-variable);
  --font-mplusrounded: var(--font-mplusrounded-variable);

  --color-primary: #0e121b;
  --color-secondary: #131720;
  --color-text-primary: #ffffff;
  --color-text-secondary: #737373;

  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-subtitle: #0b0d14;
  --color-input: #171c26;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0e121b;
    --color-foreground: #ffffff;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
